.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer .links{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.Footer h4{
    font-size: 1.4rem;
}
.Footer h4, .Footer .link{
    font-weight: bold;

}
.Footer .link{
    margin: 0 1rem;
}
@media screen and (max-width: 400px){
    .Footer .links{
        flex-direction: column;
    }
    .Footer .link{
        margin: 8px;
    }
}