.Main{
    max-width: 70vw;
    padding: 32px;
    grid-row: 2/5;
}
.Main h2{
    font-size: 3rem;
}
@media screen and (max-width: 515px) {
    .Main{
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .Main{
        margin: 4vh auto;
      }
}