.Navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 32px;
    font-size: 1.3rem;
    font-weight: 700;   
}
.Navbar .blog a{
    text-decoration: none;
}
@media screen and (max-width: 515px){
    .Navbar{
        padding: 1em;
    }
}